{% extends "base.html" %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row" style="margin-bottom:50px ;">
            <div class="col-sm-12">
                <h3 class="page-title">View Event Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Event Details</li>
                </ul>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <a href="{% url 'download_participants_csv' %}" class="btn btn-primary"><i class="la la-download"></i>Download CSV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="project-title">
                        <h5 class="card-title">{{ event.event_name }}</h5>
                    </div>
                    <div class="booking-details">
                        <h6>Booking Details:</h6>
                        <form method="GET" action="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="contact_number">Contact Number</label>
                                    <input type="text" class="form-control" id="contact_number" name="contact_number">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </form>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Contact Number</th>
                                                <th>Flat Number</th>
                                                <th>Tickets</th>
                                                <th>Total Cost</th>
                                                <th>Ticket ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for booking in bookings %}
                                            <tr>
                                                <td>{{ booking.name }}</td>
                                                <td>{{ booking.contact_number }}</td>
                                                <td>{{ booking.flat_number }}</td>
                                                <td>{{ booking.number_of_tickets }}</td>
                                                {% if event.free_ticket %}
                                                <td>Free Ticket</td>
                                                {% else %}
                                                <td>₹{{ booking.total_cost }}</td>
                                                {% endif %}
                                                
                                                <td>{{ booking.ticket_id }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
        </div>
        <div class="col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title m-b-15">Event Details</h6>
                    <table class="table table-striped table-border">
                        <tbody>
                            <tr>
                                <td>Date:</td>
                                <td class="text-right">{{ event.date }}</td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td class="text-right">{{ event.time }}</td>
                            </tr>
                            <tr>
                                <td>Organizer:</td>
                                <td class="text-right">{{ event.organiser }}</td>
                            </tr>
                            <tr>
                                <td>Cost Per Ticket:</td>
                                {% if event.free_ticket %}
                                <td>Free Ticket</td>
                                {% else %}
                                <td>₹{{ event.price_per_ticket }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Venue:</td>
                                <td class="text-right">{{ event.venue }}</td>
                            </tr>
                            <tr>
                                <td>Tickets Sold:</td>
                                <td class="text-right">{{ total_tickets_sold }}</td>
                            </tr>
                            <tr>
                                <td>Event Cost:</td>
                                <td class="text-right">₹{{ event_cost }}</td>
                            </tr>
                            <!-- Add more event details here -->
                        </tbody>
                    </table>
                    <p class="m-b-5">Total Funds Collected <span class="text-success float-right">{{ percentage_collected }}%</span></p>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="" style="width: {{ percentage_collected }}%" data-original-title="{{ percentage_collected }}%"></div>
                    </div>
                    <!-- Add more event details here -->
                </div>
            </div>
            <!-- Add more cards here -->
        </div>
    </div>
</div>
{% endblock %}
